{% block body_block %}
    {% include 'base.html' %}
    <br>
    <table>
        <tr>
            <th>Aadhar No</th>
            <th>Name</th>
            <th>Contact</th>
            <th width="200">Address</th>
        </tr>
        {% for x in data %}
            <tr>
                <td>{{ x.aadhar }}</td>
                <td>{{ x.pname }}</td>
                <td>{{ x.contact }}</td>
                <td width="200">{{ x.address }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
